<%= form_for(@shoot, :html => {:class => 'nice'}) do |f| %>

  <% if @shoot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shoot.errors.count, "error") %> prohibited this shoot from being saved:</h2>

      <ul>
      <% @shoot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='row'>
    <div class="three columns">
      <div class="fleft whiteColor">Event: </div> 
      <h3 class="whiteColor"> 
        <%= f.text_field :event, :class => 'large input-text' %>
      </h3>
    </div>

    <div class="four columns offset-by-five">
      <div class="fleft whiteColor">Photographer: </div> 
      <div class="fleft"> 
        <%= f.text_field :photographer, :class => 'medium input-text' %>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class="six columns"> 
      <div class="column whiteColor"> 
        <div class="fleft">Shot On: </div> 
        <div class="fleft"><%= f.text_field :shot_on, :class => 'small input-text datepicker'%></div>
      </div>

      <div class="column whiteColor"> 
        <div class="fleft">Reported On: </div> 
        <div class="fleft"><%= f.text_field :reported_on, :class => 'small input-text datepicker'%></div>
      </div>
    </div>

    <div class="four columns offset-by-two"> 
      <%= f.submit "Save", :class => 'radius small orange button' %>
      <%= link_to "Back", '/', :class => 'radius small orange button' %>
    </div>
  </div>

  <div class='row'>
    <%= render :partial => 'form_workflow', :locals => {:f => f, :shoot => @shoot} %>
  </div>
<% end %>

<script type='text/javascript'>
  $('.datepicker').datepicker({ dateFormat: 'dd/mm/yy' });
  $('#shoot_photographer').autocomplete({
    delay: 0,
    source: [<%= raw(@photographers.collect {|e| "\"#{e}\""}.join(",")) %>]
  });
</script>
