<%= form_for(@shoot, :html => {:class => 'nice'}) do |f| %>
  <% if @shoot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shoot.errors.count, "error") %> prohibited this shoot from being saved:</h2>

      <ul>
      <% @shoot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event %>
    <%= f.text_field :event, :class => 'input-text' %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description, :class => 'input-text' %>
  </div>
  <div class="field">
    <%= f.label :photographer %>
    <%= f.text_field :photographer, :style => 'display: none' %>
    <%= select_tag :photographer_select, options_for_select(@photographers + ["Other"], @shoot.photographer), :class => 'input-text' %>
    <%= text_field_tag :photographer_text, nil, :class => 'input-text', :style => 'display: none;' %> 
  </div>
  <div class="field">
    <%= f.label :shot_on %>
    <%= f.text_field :shot_on, :class => 'input-text datepicker'  %>
  </div>
  <div class="field">
    <%= f.label :reported_on %>
    <%= f.text_field :reported_on, :class => 'input-text datepicker'  %>
  </div>

  <div class="actions">
    <%= f.submit :class => 'medium radius orange button' %>
  </div>
<% end %>

<script type='text/javascript'>
  $('.datepicker').datepicker({ dateFormat: 'dd/mm/yy' });
  
  $('#photographer_select').change(function() {
    if($(this).val() == 'Other') {
      $('#photographer_select').hide();
      $('#photographer_text').show();
    }
  });

  $('#new_shoot').submit(function() {
    if($('#photographer_select').val() != 'Other') {
      $('#shoot_photographer').val($('#photographer_select').val());
    }
    else {
      $('#shoot_photographer').val($('#photographer_text').val());
    }

    return true;
  });
</script>
