<table class="clear topMargin10"> 
  <thead> 
    <tr>
    <th style="width:20%;"></th> 
    <th style="width:15%;">Expected Date</th> 
    <th style="width:15%;">Actual Date</th> 
    <th>Delay Cause</th> 
    </tr>
  </thead>

<% Shoot::MetaInfo::All.each do |mi| %>
  <% next unless @shoot.is_key_applicable? mi[:key] %>  
  <tr>
    <td><%= mi[:name] %></td>
    <td>
      <%= hidden_field_tag "shoot[meta][#{mi[:key]}_expected]", @shoot.meta[mi[:key] + "_expected"], :class => 'input-text' %>
      <%= @shoot.meta[mi[:key] + "_expected"] %>
    </td>
    <td>
      <%= text_field_tag "shoot[meta][#{mi[:key]}_actual]", @shoot.meta[mi[:key] + "_actual"], :class => 'input-text datepicker' %>
    </td>
    <td>
      <%= text_area_tag "shoot[meta][#{mi[:key]}_delay_cause]", @shoot.meta[mi[:key] + "_delay_cause"], :class => 'input-text' %>
    </td>
  </tr>

<% end %>

</table>
