<div class='row'>
  <div class='row'>
    <div class="three columns"> <h3 class="whiteColor">Listing Shoots</h3></div> 
    <div class="six columns topMargin10">
      <%= link_to "Search Options", '#', :id => 'FilterButton', :class => 'small orange radius button' %>
      <%= link_to "Batch Operations", '#', :id => 'BatchButton', :class => 'small orange radius button' %>
      <%= link_to 'New Shoot', new_shoot_path, :class => 'small radius orange button' %>
    </div>
    <div id="export_icon" class="one columns offset-by-two topMargin10">
      <%= link_to(image_tag("famfam/page_excel.png", :title => "Export Results"), {:opt => 'export'}) %>
    </div>
    <div id="export_spinner" class="one columns offset-by-two topMargin10" style="display:none">
      <%= image_tag "spinner.gif" %>
    </div>
    <div id="export_error" class="one columns offset-by-two topMargin10" style="display:none">
      <%= image_tag "famfam/error.png" %>
    </div>
  </div>
  <div id='FilterBox' class='row' style='display: none'>
    <%= form_tag '/shoots/filter', :class => 'nice', :id => 'FilterForm' do %>
    <div class='loginBox' style='margin-top: 2em;'>
      <!-- Shoot Date -->
      <div class='row'>
        <div class='four columns'>
          <label>Shot After Date</label>
          <%= text_field_tag 'search[shot_on_start]', @search[:shot_on_start], :class => 'input-text datepicker FilterFormElem' %>
        </div>
        <div class='four columns'>
          <label>Shot Before Date</label>
          <%= text_field_tag 'search[shot_on_end]', @search[:shot_on_end], :class => 'input-text datepicker FilterFormElem' %>
        </div>
      </div>
      <div class='row'>
        <div class='four columns'>
          <label>Reported After Date</label>
          <%= text_field_tag 'search[reported_on_start]', @search[:reported_on_start], :class => 'input-text datepicker FilterFormElem' %>
        </div>
        <div class='four columns'>
          <label>Reported Before Date</label>
          <%= text_field_tag 'search[reported_on_end]', @search[:reported_on_end], :class => 'input-text datepicker FilterFormElem' %>
        </div>
      </div>
      <div class='row'>
        <div class='four columns'>
          <label>Event (Name/Description)</label>
          <%= text_field_tag 'search[event]', @search[:event], :class => 'input-text FilterFormElem' %>
        </div>
        <div class='four columns'>
          <label>Photographer</label>
          <%= text_field_tag 'search[photographer]', @search[:photographer], :class => 'input-text FilterFormElem' %>
        </div>
      </div>
      <div class='row'>
        <div class='four columns'>
          <label>Flag</label>
          <%= select_tag 'search[flag]', options_for_select(['Red', 'Yellow', 'Normal', 'All'], @search[:flag] || 'All'), :class => 'input-text FilterFormElem' %>
        </div>
        <div class='four columns'>
          <label>Status</label>
          <%= select_tag 'search[status]', options_for_select(['Open', 'Closed'], @search[:status] || 'Open'), :class => 'input-text FilterFormElem' %>
        </div>
      </div>

      <div class='row'>
        <%= submit_tag "Search", :class => 'medium orange radius button' %>
        <%= button_tag "Display All", :class => 'medium orange radius button', :id => 'FormResetBtn' %>
      </div>

    </div>
    <% end %>
    <br/>
  </div>
  <div id='BatchOpsBox' class='row' style='display: none'>
    <div class='loginBox' style='margin-top: 2em;margin-bottom:1em;'>
      <%= form_tag '/', :id => 'BatchUpdateForm' do %>
      <table class="clear topMargin10"> 
      <thead> 
        <tr>
        <th style="width:20%;"></th> 
        <th style="width:15%;">Actual Date</th> 
        <th>Delay Cause</th> 
        </tr>
      </thead>

      <% Shoot::MetaInfo::All.each do |mi| %>
        <tr>
          <td><%= mi[:name] %></td>
          <td>
            <%= text_field_tag "shoot[meta][#{mi[:key]}_actual]", nil, :class => 'input-text datepicker' %>
          </td>
          <td>
            <%= text_area_tag "shoot[meta][#{mi[:key]}_delay_cause]", nil, :class => 'input-text' %>
          </td>
        </tr>
      <% end %>
        <tr>
          <td>
            <div id='BatchUpdateMsg1' style='display: none; padding-left:2em;'>
              <%= image_tag "spinner.gif" %> Updating..
            </div>
          </td>
          <td>
            <%= submit_tag "Submit", :id => "BatchExecuteButton", :class => 'radius orange button' %>
            <%= button_tag "Cancel", :class => 'radius orange button', :onclick => '$("#BatchOpsBox").hide(); return false;' %>
          </td>
          <td>
            <div id='BatchUpdateMsg2' style=''>
            </div>
          </td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>

<div class='row'>
  <table class='clear'>
    <thead>
    <tr>
      <th>ID</th>
      <th>Event</th>
      <th>Photographer</th>
      <th><%= link_to "Shot On", {:order => 'shot_on', :o => (@o == 'ASC' ? 'DESC' : 'ASC') } %></th>
      <th><%= link_to "Reported On", {:order => 'reported_on', :o => (@o == 'ASC' ? 'DESC' : 'ASC') } %></th>
      <th width='15%'></th>
    </tr>
    </thead>

  <% @shoots.each do |shoot| %>
    <tr eid=<%= shoot.id %> >

      <td><%= check_box_tag "shoot_select_#{shoot.id}", shoot.id, false, :class => 'shoot-check-box' %> <%= shoot.id %> <%= tag_shoot_entry(shoot) %></td>
      <td class='eClickable'><%= shoot.event %></td>
      <td class='eClickable'><%= shoot.photographer %></td>
      <td class='eClickable'><%= shoot.shot_on %></td>
      <td class='eClickable'><%= shoot.reported_on %></td>
      <td>
        <%= link_to image_tag('famfam/application_view_icons.png'), shoot, :title => 'View Shoot' %> &nbsp; &nbsp; 
        <%= link_to image_tag('famfam/application_edit.png'), edit_shoot_path(shoot), :title => 'Edit Shoot' %> &nbsp; &nbsp;
        <%= link_to image_tag('famfam/delete.png'), shoot, :confirm => 'Are you sure?', :method => :delete, :title => 'Delete Shoot' %>
      </td>
    </tr>
    <tr class='shoot-desc' eid=<%= shoot.id %>>
      <td colspan=7 style='padding: 1em;'>
        <small>
          <%= shoot.description %>
        </small>
      </td>
    </tr>
  <% end %>

    <tr>
      <td colspan=4>
        <%= will_paginate @shoots unless @shoots.class.name =~ /Array/ %>
      </td>
      <td colspan=3 align='right'>
        <div id='per-page-count-container'>
          Entries Per Page: 
          <%= text_field_tag 'per_page_count', (@per_page_count || 10), :size => 6 %> <%= submit_tag 'Update', :id => 'per-page-update-submit' %>
        </div>
      </td>
    </tr>

  </table>
</div>

<div class='row'>
</div>

<script>
  $('#FilterButton').click(function() {
    $('#FilterBox').toggle();
  });

  $('.datepicker').datepicker({ dateFormat: 'dd/mm/yy' });

  $('#FormResetBtn').click(function() { 
    $.each($('.FilterFormElem'), function(i, v) {
      v.value = "";
    });

    $('#search_flag').val('All');
    $('#search_status').val('Open');

    //return false;
  });

  $('.eClickable').click(function() {
    window.location = '/shoots/' + $(this).parent().attr('eid');    
  });

  $('#search_photographer').autocomplete({
    delay: 0,
    source: [<%= raw(@photographers.collect {|e| "\"#{e}\""}.join(",")) %>]
  });
  $('#BatchButton').click(function() {
    if($('input:checked').length == 0) {
      alert('You must select at least 1 shoot before attempting batch operation');
      return false;
    }
    else {
      $('#BatchOpsBox').toggle();
    }
  });
  $('#BatchExecuteButton').click(function() {
    var shoot_ids = [];
    $.each($('input:checked'), function(i, v) {
      shoot_ids.push($(v).val());
    });

    $.ajax({
      url: '/batch_update?si=' + shoot_ids.join(','),
      type: 'POST',
      data: $('#BatchUpdateForm').serialize(),
      beforeSend: function(xhr) {

      }
    }).done(function(data) {
      //alert('Batch Update Successful');
      $('#BatchUpdateMsg2').html("<font color='green'>Updated successfully.</font>");
    }).fail(function() {
      alert('Error Occurred in AJAX Request');
      $('#BatchUpdateMsg2').html("<font color='red'>Failed to update.</font>");
    }).always(function() {
      //window.location.reload();      
    });

    return false; // prevent default
  });

  $('#per-page-update-submit').click(function() {
    var loc = window.location.href;
    var ppc = $('#per_page_count').val();

    window.location = '/?per_page_count=' + ppc;
    return false;
  });
</script>
