<div class='row'>
  <div class="three columns"> <h3 class="whiteColor">Listing Shoots</h3></div> 
  <div class="six columns offset-by-three topMargin10">
    <!-- Top Filters -->
  </div>
</div>

<div class='row'>
  <table class='clear'>
    <thead>
    <tr>
      <th>Event</th>
      <th>Description</th>
      <th>Photographer</th>
      <th></th>
    </tr>
    </thead>

  <% @shoots.each do |shoot| %>
    <tr>
      <td><%= shoot.event %></td>
      <td><%= shoot.description %></td>
      <td><%= shoot.photographer %></td>
      <td>
        <%= link_to 'Show', shoot %> &nbsp; &nbsp; 
        <%= link_to 'Edit', edit_shoot_path(shoot) %> &nbsp; &nbsp;
        <%= link_to 'Destroy', shoot, confirm: 'Are you sure?', method: :delete %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

<%= link_to 'New Shoot', new_shoot_path, :class => 'radius orange medium button' %>

