<div class='row'>

  <div class='row'>
    <div class="three columns"> <h3 class="whiteColor"><%= @shoot.event %></h3></div> 
  </div>
  <div class='row'>
    <div class="four columns"> 
      <h3><small>Photographer: <%= @shoot.photographer %></small></h3> 
    </div>
  </div>
  <div class='row'>
    <div class="column whiteColor"><strong>Shot On:</strong> <%= @shoot.shot_on %></div>     
    <div class="column whiteColor"><strong>Reported On:</strong> <%= @shoot.reported_on %></div>    
  </div>
  <div class='row'>
    <div class='whiteColor six columns' style='margin: 1em; padding: 0.5em;'>
      <%= @shoot.description %>
    </div>
  </div>
  <div class='row'>
    <table class='clear'>
      <thead>
        <tr>
          <th style="width:20%;"></th> 
          <th style="width:15%;">Expected Date</th> 
          <th style="width:15%;">Actual Date</th> 
          <th>Delay Cause</th> 
        </tr>
      </thead>
      <% Shoot::MetaInfo::All.each do |mi| %>
        <% next unless @shoot.is_key_applicable? mi[:key] %>
        <tr>
          <td><%= mi[:name] %> <%= tag_shoot_key(@shoot, mi[:key]) %></td>
          <td><%= @shoot.meta[mi[:key] + "_expected"] %></td>
          <td><%= @shoot.meta[mi[:key] + "_actual"] %></td>
          <td><%= @shoot.meta[mi[:key] + "_delay_cause"] %></td>
        </tr>
      <% end %>
    </table>
  </div>


  <%= link_to 'Edit', edit_shoot_path(@shoot), :class => 'small orange radius button' %> |
  <%= link_to 'Home', shoots_path, :class => 'small orange radius button' %>

</div>
