<div class='row'>
  <div class='four columns centered loginBox'>

<h3>Forgot your password?</h3>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'nice' }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
    <%= f.email_field :email, :class => 'input-text' %></div>

  <div><%= f.submit "Send me reset password instructions", :class => 'medium radius orange button' %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>

</div>
</div>
